<div class="container">
    <div class="row">
        <div class=" col-md-8  col-lg-12">
            <div class="well profile" ng-repeat="user in contributors">
                <div class="col-sm-12">
                    <div class="col-xs-12 col-sm-8">
                        <h2>{{user.login}}</h2>
                        <p><strong>Contributions: </strong> {{user.contributions}} </p>
                        <p><strong>Id: </strong> {{user.id}} </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 text-center">
                        <figure>
                            <!--<img ng-src="http://www.gravatar.com/avatar/{{user.gravatar_id}}" title="{{user.name}}" class="img-circle img-responsive">-->
                            <img ng-src="{{user.avatar_url}}" title="{{user.name}}" class="img-circle img-responsive">
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 divider text-center">
                    <div class="col-xs-12 col-sm-4 emphasis">
                        <!-- <h2><strong> {{user.followers}} </strong></h2>
                        <p><small></small></p> -->
                        <button class="btn btn-success btn-block" ng-click="followContributor(user.login,user.id)" ng-hide="user.follow"><span class="fa fa-user"></span> Follow</button>
                         <button class="btn btn-success btn-block" ng-click="followContributor(user.login,user.id)" ng-show="user.follow"><span class="fa fa-user"></span> Following</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

